<h1 style="color: mediumblue; font-style: italic; font-weight: bold;"><marquee>Add Products</marquee></h1>
<div class='card' style="background-color:lightgrey;">
    <form (ngSubmit)="AddProduct()">
        <div class='card-header' style="color:midnightblue; font-weight:700;">
            {{title}}
        </div>
        <div class='card-body'>
            <div class='table-responsive'>
                <table class='table'>
                    <tbody style="color: mediumblue;">
                        <tr>
                            <td><label >Product Id</label></td>
                            <td><input type="text" name="p_id" [(ngModel)] ="productItem.productId"/></td>
                        </tr>

                        <tr>
                            <td><label>Product Name</label></td>
                            <td><input type="text" name="p_name" [(ngModel)] ="productItem.productName"/></td>
                        </tr>

                        <tr>
                            <td><label>Product Code</label></td>
                            <td><input type="text" name="p_code" [(ngModel)] ="productItem.productCode"/></td>
                        </tr>

                        <tr>
                            <td><label>Release Date</label></td>
                            <td><input type="text" name="p_date" [(ngModel)] ="productItem.releaseDate"/></td>
                        </tr>

                        <tr>
                            <td><label>Product Description</label></td>
                            <td><input type="text" name="p_desc" [(ngModel)] ="productItem.description"/></td>
                        </tr>

                        <tr>
                            <td><label>Product Price</label></td>
                            <td><input type="text" name="p_price" [(ngModel)] ="productItem.price"/></td>
                        </tr>
                        <tr>
                            <td><label>Product starRating</label></td>
                            <td><input type="text" name="p_rating" [(ngModel)] ="productItem.starRating"/></td>
                        </tr>
                        <tr>
                            <td><label>Product imageUrl</label></td>
                            <td><input type="text" name="p_image" [(ngModel)] ="productItem.imageUrl"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" class="btn btn-success" value="Submit"/></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </form>

</div>
